{% extends 'base.html' %}

{% block content %}

<div class="card tasks" style="width: 40rem; margin: auto; margin-top: 5%;">
    <div class="card-header task-header">
        Add Task
    </div>
    <ul class="list-group list-group-flush task-list">
        <li class="list-group-item task-entry">
            <form action="" method="post" class="task-form">
                {{form.as_p}}
                {% csrf_token %}
                <div class="delete-text">
                    Are you sure you want to delete ?
                </div>
                <input type="submit" value=Yes class="btn btn-primary submit">
                <a href="{% url 'tasks' %}" class="btn btn-primary submit">No</a>
            </form>
        </li>
    </ul>
</div>

{% endblock %}